@{
    ViewBag.Title = "Categories";
}

<div class="category-form">
    <div class="form-header">
        <p class="form-header-text">Categories</p>
    </div>
    <div class="category-form-body">
        @using (Ajax.BeginForm("ChangeCategories", new AjaxOptions { UpdateTargetId = "categories" }))
        {
            <input type="submit" class="form-save-button" value="Save" />

            <div id="categories" class="category-table">
                @Html.Action("ViewCategoryTable")
            </div>
        }
    </div>
</div>