body {
    margin: auto;
    width: 60%;
    font-family: Arial;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.hidden {
    display: none;
}

.navbar-body {
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: inherit;
}

.navbar {
    
    top: 0;
    width: 100%;
    background-color: #d9d9d9;
}

.navbar-link {
    font-size: 14px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: inherit;
    padding-bottom: inherit;
}

.navbar-link:link,
.navbar-link:visited {
    color: black;
    text-decoration: none;
}

.navbar-link:hover,
.navbar-link:active {
    background-color: #5e5e5e;
}

.active-page-link {
    background-color: #989898;
}

.product-form,
.category-form {
    padding: 5px;
    padding-bottom: 100px;
    margin: auto;
    margin-top: 50px;
    width: 400px;
    border: 2px solid #686868;
    border-radius: 4px;
}

.form-header {
    border-bottom: 2px solid #8f8f8f;
}

.form-header-text {
    margin-bottom: 8px;
    margin-top: 12px;
}

.product-form-body,
.category-form-body {
    margin-top: 30px;
}

.category-form-body {
    margin-left: 10px;
    margin-right: 10px;
}

.product-form-col1 {
    float: left;
    width: 30%;
    text-align: right;
}

.product-form-col2 {
    margin-left: 35%;
}

.product-textarea {
    width: 165px;
    padding: 2px;
    resize: none;
    overflow: auto;
}

.product-text-box {
    width: 169px;
}

.product-text-box,
.product-textarea,
.category-input,
.new-category-input {
    border-radius: 4px;
    border: 1px solid #a7a7a7;
    margin-bottom: 40px;
}

.form-save-button {
    background-color: inherit;
    border-radius: 4px;
    border: 1px solid #a7a7a7;
    padding: 4px 14px;  
}

.form-save-button:hover {
    border-color: #0187f8;
}

.product-table {
    margin-top: 50px;
    width: 100%;
}

table,
td {
    border: 2px solid #686868;
    border-collapse: collapse;
}

tr {
    height: 50px;
}

td {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.js-empty-table-placeholder {
    margin-top: 50px;
    font-size: 18px;
    text-align: center;
}

.js-table-product-title {
    text-align: left;
}

.table-product-price {
    text-align: right;
}

.category-table {
    margin-top: 25px;
}

.new-category-input {
    margin-right: 50%;
}

.category-input {
    margin-right: 10px;
}