body {
    margin: auto;
    width: 1100px;
    font-family: Arial;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.hidden {
    display: none;
}

.navbar-body {
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 1080px;
}

.navbar {   
    top: 0;
    width: 1100px;
    background-color: #d9d9d9;
}

.navbar-link {
    font-size: 14px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: inherit;
    padding-bottom: inherit;
}

.navbar-link:link,
.navbar-link:visited {
    color: black;
    text-decoration: none;
}

.navbar-link:hover,
.navbar-link:active {
    background-color: #5e5e5e;
}

.active-page-link {
    background-color: #989898;
}

.js-culture-select {
    float: right;
    background-color: #d9d9d9;
    border: none;
    font-size: 14px;
    text-align-last: right;
    outline: none;
}

.input-form,
.category-form {
    padding: 5px;
    padding-bottom: 100px;
    margin: auto;
    margin-top: 50px;
    width: 400px;
    border: 2px solid #686868;
    border-radius: 4px;
}

.form-header {
    border-bottom: 2px solid #8f8f8f;
}

.form-header-text {
    margin-bottom: 8px;
    margin-top: 12px;
}

.input-form-body,
.category-form-body {
    margin-top: 30px;
}

.category-form-body {
    margin-left: 10px;
    margin-right: 10px;
}

.input-form-col1 {
    float: left;
    width: 30%;
    text-align: right;
}

.input-form-col2 {
    margin-left: 35%;
}

.input-textarea {
    width: 194px;
    padding: 2px;
    resize: none;
    overflow: auto;
}

.input-text-box {
    width: 198px;
}

.input-dropdownlist {
    width: 200px;
    height: 19px;
}

.input-text-box,
.input-textarea,
.input-dropdownlist,
.category-input,
.new-category-input {
    border-radius: 4px;
    border: 1px solid #a7a7a7;
    margin-bottom: 40px;
}

.input-back-link {
    margin-top: 50px;
}

.form-save-button {
    background-color: inherit;
    border-radius: 4px;
    border: 1px solid #a7a7a7;
    padding: 4px 14px;  
}

.form-save-button:hover {
    border-color: #0187f8;
}

.product-table {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 1100px;
}

table,
td {
    border: 2px solid #686868;
    border-collapse: collapse;
}

tr {
    height: 50px;
}

td {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.js-empty-table-placeholder {
    margin-top: 50px;
    font-size: 18px;
    text-align: center;
}

.js-table-product-title,
.table-product-category {
    text-align: left;
    width: 450px;
}

.table-product-price {
    text-align: right;
}

.table-product-price,
.table-product-delete {
    width: 100px;
}

.category-table {
    margin-top: 25px;
}

.new-category-input {
    margin-right: 50%;
}

.category-input {
    margin-right: 10px;
}

.update-validation-message {
    color: red;
    margin-bottom: 5px;
}

.inventory-link {
    position: relative;
    display: inline;
    padding-top: inherit;
    padding-bottom: inherit;
}

.categories-filter {
    display: none;
    position: absolute;
    min-width: 70px;
    left: 0;
    background-color: #d9d9d9;
    border: 1px solid #2a2a2a;
    margin: 9px 0px 0px 0px;
    padding: 0;
    list-style: none;
}

.categories-filter:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}

.category-filter-link {
    display: block;
}

.category-filter-link > a {
    font-size: 14px;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.category-filter-link > a:link,
.category-filter-link > a:visited {
    color: black;
    text-decoration: none;
}

.category-filter-link > a:hover,
.category-filter-link > a:active {
    background-color: #5e5e5e;
}

.inventory-link:hover > .categories-filter {
    display: block;
    position: absolute;
    z-index: 1;
}

.orders-body {
    position: relative;
}

.order-products-body {
    margin-top: 30px;
}

.order-product-form {
    position: relative;
    padding: 5px;
    margin: 4px;
    height: 100px;
    width: 198px;
    float: left;
    border: 2px solid #686868;
}

.order-product-title {
    position: relative;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.order-product-category {
    font-size: 12px;
    text-align: center;
}

.order-product-description {
    display: none;
}

.order-product-price {
    font-size: 20px;
    position: absolute;
    bottom: 0px;
}

.cart-product-price-value,
.cart-total-price-value {
    display: inline;
}

.add-to-cart-but {
    right: 5px;
    position: absolute;
    bottom: 5px;
}

.description-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 110px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.description-modal-show {
    display: block;
}

.description-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 2px solid #d0d0d0;
    border-radius: 5px;
    width: 256px;
}

.description-modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.description-modal-close:hover,
.description-modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.cart-body {
    position: absolute;
    left: 1100px;
    padding: 5px;
    margin: 4px;
    width: 265px;
    float: left;
    border: 2px solid #686868;
}

.cart-title {
    font-size: 26px;
    text-align: center;
    margin: 0px;
}

.cart-total-price {
    border-bottom: 2px solid #a4a4a4;
}

.cart-product-form {
    position: relative;
    padding: 5px;
    margin: 4px;
    width: 253px;
    border-bottom: 2px solid #8f8f8f;
}

.add-product-but,
.remove-product-but {
    width: 16px;
    height: 16px;
    padding: 0px;
    text-align: center;
    border-radius: 50%;
    border-style:none;
}

.add-product-but:focus,
.remove-product-but:focus {
    outline: none;
}

.remove-from-cart-but {
    right: 5px;
    position: absolute;
    top: 35%;
}

.order-delivery-button {
    margin-left: 83px;
}

.order-details-error-message {
    margin-left: 140px;
    margin-top: 24px;
    position: absolute;
    color: red;
}

.required-symbol {
    color: red;
}
