<div class="input-form">
        <div class="form-header">
            <p class="form-header-text">Product</p>
        </div>
        <div class="input-form-body" [formGroup]="formGroup">
            
            <p class="order-details-error-message" *ngIf="(title.dirty || title.touched || formSubmitAttempted) && title.invalid && title.errors.required" >Field Title is requred</p>
            <label class="input-form-col1">Title <span class="required-symbol">*</span></label>
            <div class="input-form-col2">
                <input class="input-text-box" formControlName="title"/>
            </div>
    
            <p class="order-details-error-message" *ngIf="(category.dirty || category.touched || formSubmitAttempted) && category.invalid && category.errors.required" >Field Category is requred</p>
            <label class="input-form-col1">Category</label>
            <div class="input-form-col2">
                <select class="input-dropdownlist" formControlName="category">
                    <option *ngFor="let item of categories" [value]="item.id" [selected]="category.value == item.id">{{item.name}}</option>
                </select>
            </div>
    
            <p class="order-details-error-message" *ngIf="(price.dirty || price.touched || formSubmitAttempted) && price.invalid" >Field Price is incorrect</p>
            <label class="input-form-col1">Price <span class="required-symbol">*</span></label>
            <div class="input-form-col2">
                <input class="input-text-box" formControlName="price"/>
            </div>
    
            <label class="input-form-col1">Description</label>
            <div class="input-form-col2">
                <textarea class="input-textarea" cols="20" rows="6" formControlName="description"></textarea>
            </div>
    
            <div class="input-form-col2">
                <button class="form-save-button" (click)="saveData()">Save</button>
            </div>
    
            <div class="input-form-col2">
                <div class="input-back-link"><a routerLink="/shoptask/Inventory">Back</a></div>     
            </div>
        </div>
        
    </div>