<div class="input-form">
    <div class="form-header">
        <p class="form-header-text">Input your data</p>
    </div>
    <div class="input-form-body" [formGroup]="orderDetailsControl">
        
        <p class="order-details-error-message" *ngIf="(name.dirty || name.touched || formSubmitAttempted) && name.invalid && name.errors.required" >Field Name is requred</p>
        <label class="input-form-col1">Name <span class="required-symbol">*</span></label>
        <div class="input-form-col2">
            <input class="input-text-box" formControlName="name"/>
        </div>

        <p class="order-details-error-message" *ngIf="(surname.dirty || surname.touched || formSubmitAttempted) && surname.invalid && surname.errors.required" >Field Surname is requred</p>
        <label class="input-form-col1">Surname <span class="required-symbol">*</span></label>
        <div class="input-form-col2">
            <input class="input-text-box" formControlName="surname"/>
        </div>

        <p class="order-details-error-message" *ngIf="(address.dirty || address.touched || formSubmitAttempted) && address.invalid && address.errors.required" >Field Address is requred</p>
        <label class="input-form-col1">Address <span class="required-symbol">*</span></label>
        <div class="input-form-col2">
            <input class="input-text-box" formControlName="address"/>
        </div>

        <p class="order-details-error-message" *ngIf="(phone.dirty || phone.touched || formSubmitAttempted) && phone.invalid && phone.errors.required" >Field Phone is requred</p>
        <label class="input-form-col1">Phone <span class="required-symbol">*</span></label>
        <div class="input-form-col2">
            <input class="input-text-box" formControlName="phone"/>
        </div>

        <label class="input-form-col1">Comments</label>
        <div class="input-form-col2">
            <textarea class="input-textarea" cols="20" rows="6" formControlName="comments"></textarea>
        </div>

        <div class="input-form-col2">
            <button class="form-save-button" (click)="saveData()">Save</button>
        </div>

        <div class="input-form-col2">
            <div class="input-back-link"><a routerLink="/shoptask/Order">Back</a></div>     
        </div>
    </div>
    
</div>
