<div class="js-cart-body" *ngIf="(cartItems| async).length != 0">
    <p class="cart-title">Cart</p>
    <div class="cart-total-price">Total Price: {{totalCartPrice()}}</div>
        <div class="cart-product-form" *ngFor="let item of cartItems | async">
            <div class="cart-product-title">{{ item.product.title }}</div>
            <button class="remove-product-but" (click)="decreaseItemCount(item)">-</button>
            <label class="product-count">{{ item.productsCount }}</label>
            <button class="add-product-but" (click)="increaseItemCount(item)">+</button>
            <div class="cart-product-price">Price: {{ item.totalPrice }}</div>
            <button class="remove-from-cart-but" (click)="removeFromCart(item)">Remove</button>
        </div>
</div>