@{
    ViewBag.Title = Resources.Resource.CategoriesTitle;
}

<div class="category-form">
    <div class="form-header">
        <p class="form-header-text">@Resources.Resource.CategoriesTitle</p>
    </div>
    <div class="category-form-body">
        @using (Ajax.BeginForm("UpdateCategories", new AjaxOptions { UpdateTargetId = "categories" }))
        {
            <input type="submit" class="form-save-button" value="@Resources.Resource.FormSaveButton" />

            <div id="categories" class="category-table">
                @Html.Action("CategoriesPartial")
            </div>
        }
    </div>
</div>