<div class="order-products-body">
    <div class="order-product-form" *ngFor="let item of products">
        <div class="order-product-title" (click)="togglePopup(descriptionPopup, item.description != null)">
            {{ item.title }}
            <div class="order-product-description" #descriptionPopup>{{ item.description }}</div>
        </div>
        <div class="order-product-category">{{ item.category }}</div>
        
        <div class="order-product-price">Price: {{ item.price }}</div>
        <button class="add-to-cart-but" (click)="addToCart(item)">Add</button>
    </div>
</div>